* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 1% 1% 1%;
  height: 60px;
  background-color: rgba(105, 12, 4, 0.6);
}

.title {
  color: white;
  font-size: larger;
  font-weight: 900;
  margin: 0 0 0 2%;
}

.nav_buttons {
  height: 30px;
  margin: 0 2%;
  border-radius: 10px;
  border: none;
  text-align: start;
}
.button{
  transition: 1s;
  text-decoration: none;
  margin: 0 0 0 20px;
}
.button:hover{
color: rgba(30, 1, 74, 0.7);
}
.trailer_button{
  text-decoration: none;
}
.main {
  margin: 0 0 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}
.movie-card {
  width: 400px;
  height: fit-content;
  margin: 2% 2% 2% 2%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  text-decoration: none;
}

.poster {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: 0px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.title-rating {
  display: flex;
  align-items: center;
  color: rgb(6, 65, 89);
  margin: 5px 10px 5px;
}
.rating{
  margin-left: auto;
}
.movie-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.768);
  margin: 0 5px;
}
.iconButtons{
  display: flex;
 align-items: center;
}
.deleteButton{
margin-left: auto;
}
.add_movie_form{
  display: flex;
  justify-content: center;
  flex-direction: row;
}